.terms-section{
  padding:60px 120px;
  color:white;
  text-align:center;
}

.terms-section h2{
  font-size:40px;
  margin-bottom:10px;
}

.terms-intro{
  color:#cbd5e1;
  margin-bottom:40px;
}

.terms-text{
  max-width:800px;
  margin:auto;
  line-height:1.8;
  font-size:16px;
  color:#e2e8f0;
}