* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: white;
}

#root {
  width: 100%;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background: linear-gradient(
    180deg,
    #0f172a 0%,
    #142e66 30%,
    #1e3a8a 60%,
    #243f88 100%
  );
}